.container{
   width: 100%;
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 480px) {

}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* Độ rộng là 100% khi viewport là 800px hoặc nhỏ hơn */
     }
    }
.body{
    width: 1366px;
    background-color: #fff; 
    margin: 0 auto;
    padding: 0;
}
.main__body{
    width: 1366px;
    float: left;
    padding-bottom: 50px;
}
.main__body__head{
    width: 1366px;
    height: 68px;
    float: left;
}
.main__body__head__content{
    float: right;
    width: 35%;
    height: 100%;
}
.main__body__home{
    top: 68px;
    float: left;
    width: 1366px;
    height: 602px;
    margin-bottom: 60px;
     background-image: url(img/view-london-city-sunset\ 1.png);
}
.main__body__home__content{
    padding-top: 76px;
    padding-left: 137px;
}
.main__body__home .head{
    width: 27%;
    display: block;
    color: #FBFF44;
    font-family: roboto;
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
    font-size: 42px;
    line-height: 56px;
    height: 56px;
    margin-bottom: 7px;
}
.main__body__home .head-title{
    color: #fff;
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    height: 42px;
}
.content .title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #fff;
width: 22%;
text-align: justify;
}
.box {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    }
    
.main__body__head__content .main__body__head__content_1{
    width: 83px;
    border-bottom: 2px solid #145D74;
    line-height: 39px;
    padding-top: 24px;
    float: left;
}
.main__body__head__content_2 {
    width: 20%;
    float: left;
    padding-top: 35px;
    margin-left: 13px;  
}
.main__body__head__content_4 {
    float: left;   
    width: 83px;
    padding-top: 35px;
}
.main__body__head__content .main__body__head__content_3{
    width: 88px;
    padding-top: 25px;
    /* border-bottom: 2px solid #145D74; */
    /* background-color: #145D74; */
    line-height: 39px;
    float: left;
}
.main__body__head__content .home_tv{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #F1F1F1;
    padding: 4px 4px 7px 4px;
    border-radius: 5px;
    color: #145D74;
}
.main__body__head__content .login{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #145D74;
    padding: 4px 4px 7px 4px;
    border-radius: 5px;
    color: #fff;
}
.main__body__head__content .register{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #145D74;
    background-color: #fff;
    padding: 4px 4px 7px 4px;
    border-radius: 5px;
    color: #145D74;
}
.search{
    width: 456px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px 0px 0px 30px;
    height: 53px;
    padding-left: 30px;
    border: none;
    float: left;
}
#author_id{
    background: rgba(255, 255, 255, -0.1);
    /* border-radius: 0px 30px 30px 0px; */
    height: 55px;
    border: none;
    width: 114px;
    /* border-left: 1px solid; */
    margin-right: -36px;
    margin-left: 0px;
    color: darkgray;
}
.add{
    width: 19%;
    float: left;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 30px 30px 0px;
    height: 55px;
    border: none;
    /* width: 147px; */
    border-left: 1px solid;
    margin-right: -36px;
    margin-left: 0px;
    padding-left: 32px;
}
.search_button{
    border-radius: 30px;
    height: 60px;
    background: url(img/kinh.png) no-repeat;
    width: 33px;
    background-position: 0px 14px;
    border: none;
}
.search-container {
    padding-left: 315px;
    padding-top: 31px;
}
.main__body__home .content_footer{
    /* position: absolute; */
    width: 1366px;
    height: 122px;
    left: 0px;
    top: 548px;
    margin-top: 105px;
    background: rgba(102, 102, 102, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.cf_1, .cf_2, .cf_3, .cf_4, .cf_5, .cf_6, .cf_7, .cf_8, .cf_9, .cf_10, .cf_11, .cf_12 {
    width: 8%;
    float: left;
    padding-top: 48px;
    text-align: center;
    margin-top: 20px;
}
.c1, .c2, .c3, .c4 ,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{
      color: #fff;
      font-family: 'Roboto';
      text-align: center;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;

}
.c1{
    color: #FBFF44;
}
.cf_1{
    /* padding-left: 20px; */
    background: url(img/1.png) no-repeat;
    background-position: center 7px;
}
.cf_2{
    /* padding-left: 20px; */
    background: url(img/2.png) no-repeat;
    background-position: center 7px;
}
.cf_3{
    /* padding-left: 20px; */
    background: url(img/3.png) no-repeat;
    background-position: center 7px;
}
.cf_4{
    /* padding-left: 20px; */
    background: url(img/4.png) no-repeat;
    background-position: center 7px;
}
.cf_5{
    /* padding-left: 20px; */
    background: url(img/5.png) no-repeat;
    background-position: center 7px;
}
.cf_6{
    /* padding-left: 20px; */
    background: url(img/6.png) no-repeat;
    background-position: center 7px;
}
.cf_7{
    /* padding-left: 20px; */
    background: url(img/7.png) no-repeat;
    background-position: center 7px;
}
.cf_8{
    /* padding-left: 20px; */
    background: url(img/8.png) no-repeat;
    background-position: center 7px;
}
.cf_9{
    /* padding-left: 20px; */
    background: url(img/9.png) no-repeat;
    background-position: center 7px;
}
.cf_10{
    /* padding-left: 20px; */
    background: url(img/10.png) no-repeat;
    background-position: center 7px;
}
.cf_11{
    /* padding-left: 20px; */
    background: url(img/11.png) no-repeat;
    background-position: center 7px;
}
.cf_12{
    /* padding-left: 20px; */
    background: url(img/12.png) no-repeat;
    background-position: center 7px;
}

.main__content {
    width: 100%;
     
}

.main__content .page1{
    width: 224px;
    /* height: 1044px; */
    padding: 44px 48px;
    /* top: 670px; */
    /* margin-top: 49%; */
    
}
.focus{
    background: #FFFFFF;
    border: 1px dashed #145D74;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 32px 7px 109px 10px;
}
.main__content .page2{
    margin-top: -50%;
    margin-left: 25%;
    width: 72%;
    

}
.main__content .page2 a {
    text-decoration: none;
    border-right: 1.5px solid gray;
    padding-right: 15px;
    padding-left: 15px;
}
.main__content .page1 a {
    text-decoration: none;
    color: #145D74;
    border-bottom: 2px solid #145D74;
    line-height: 35px;
    padding-bottom: 4px;
}
.list-cot {
    background: #FFFFFF;
    border: 1px dashed #145D74;
    box-sizing: border-box;
    border-radius: 20px;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 71px;
}
.list-cot2 {
    background: #FFFFFF;
    border: 1px dashed #145D74;
    box-sizing: border-box;
    border-radius: 20px;
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 71px;
}

.cot1,.cot2,.cot3 {
    width: 30%;
    padding-left: 24px;
    padding-top: 15px;
    float: left;
}
.main__content .box01,.box02,.box03,.box04{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding-bottom: 33px;
}
.list-cot h2 {
    padding-top: 196px;
    text-align: center;
    background: url(img/dogo.png) no-repeat;
    background-size: 100% 85%;
}
.list-cot span {
    padding-left: 71px;
    background: url(img/cham.png) no-repeat;
    background-position: 52px 5px;
}
.main__content h1{
    text-align: center;
}
.list-cot2 h2 {
    padding-top: 234px;
    text-align: center;
    background: url(img/congty.png) no-repeat;
    background-position: center 20px;
    background-size: 68% 63%;
}
.list-cot2 h2 {
    color: #145D74;
}
.page2 .list-cot2 a{
    margin-left: 98px;
    border: 1px solid #145D74;
    border-radius: 8px;
    color: #fff;
    background-color: #145D74;
}







/* ////////////// */
.muc_luc a{
    text-decoration: none;
    background-color: #145D74;
    color: #fff;
    border-radius: 30px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 1px;
    border: 2px solid black;
    font-size: 21px;
}
.muc_luc span {
    padding-left: 141px;
    font-size: 17px;
}
.muc_luc {
    width: 100%;
    height: 274px;
    margin-top: 137%;
}
.muc_luc h1{
    text-align: center;
}
hr {
    margin-bottom: -13px;
    margin-top: 11px;
}
.all-infor{
    width: 400px;
    float: left;
    padding-left: 36%;
    margin-top: 49px;
    flex-shrink: inherit;
    background: url(img/cc.png) no-repeat;
    background-position: 503px 6px;
}
.main_xu_huong{
    width: 100%;
    height: 429px;
    background: url(img/back2.png) no-repeat;

}
.box1{
    width: 50%;
    float: left;
}
.box2{
    width: 50%;
    float: left;
}

.organ{
    width: 30%;
    float: left;
    background: url(img/box1.png) no-repeat;
    background-position: 74px 20px;
    margin-top: 90px;
    margin-left: 67px;
    padding-top: 89px;
    line-height: 11px;
}
.cons{
    width: 30%;
    float: left;
    background: url(img/box1.png) no-repeat;
    background-position: 74px 20px;
    margin-top: 224px;
    margin-left: -52px;
    line-height: 3px;
    padding-top: 99px;
}
.car_list{
    width: 30%;
    float: left;
    background: url(img/list.png) no-repeat;
    background-position: 74px 20px;
    margin-top: 106px;
    margin-left: -52px;
    line-height: 3px;
    padding-top: 82px;
}
.main_xu_huong .organ,.cons,.car_list{
    color: #fff;
    text-align: center;
}
.main_xu_huong h1 {
    padding-bottom: 0px;
}
.xu_huong a{
    background: url(img/xhtk.png) no-repeat;
    text-decoration: none;
}
.xu_huong span{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 9px 15px;
    line-height: 53px;
}
.xu_huong {
    width: 68%;
}
.box2 h2 {
    width: 209px;
    padding-top: 52px;
    color: #fff;
    border-bottom: 3px solid yellow;
}
.content_muc_luc{
    width: 100%;    
}
.content_muc_luc .box1{
    width: 22%;
    float: left;
    margin-top: 80px;
    margin-left: 65px;
} 
.box1 a{
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}
.list {
    text-align: center;
    border: 3px dotted #145D74;
    border-top: none;
    padding-bottom: 80px;
}
.content_muc_luc .head-title {
    text-align: center;
    width: 100%;
    background-color: #145D74;
    border-radius: 17px 17px 0px 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #fff;
    font-size: 20px;
}

a.top {
    padding-left: 40px;
}
.content_muc_luc .box2 {
    width: 887px;
    float: left;
    margin-top: 80px;
    margin-left: 20px;
    border: 2px solid darkgray;
    border-radius: 15px;
    height: 1812px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.more_infor{
    border: 2px solid #145D74;
box-sizing: border-box;
border-radius: 20px;
padding-bottom: 9px;
}
.more_infor .head {
    /* background-color: skyblue; */
    background: #145D74;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 14px 20px 0px 0px;
    color: #fff;
    width: 885px;
    font-size: 19px;
    text-align: center;
}
a.button {
    text-decoration: none;
    text-align: center;
    margin-left: 37%;
    background: #145D74;
    font-size: 18px;
    color: #fff;
    padding: 5px 5px 5px 5px;
    border-radius: 14px;
}